doctype html
html
    head
        link(rel = 'stylesheet', href = '/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body.style
        each p in poeti
            div

                a(href = `/users/profile?id=${p.id}`)
                    h1 #{p.nome}
                    img(src = `${p.immagine}`)